.img__login {
  height: 300px;
  object-fit: cover;
}

.title {
  color: #eee;
  font-size: 2.5rem;
}

.subtitle {
  color: #eee;
  font-size: 1.7rem;
}

.button {
  background-color: rebeccapurple;
}

@media screen and (max-width: 576px) {
  .title {
    font-size: 2rem;
  }

  .subtitle {
    font-size: 1.3rem;
  }
}
